@use '../../../styles/mixins/scrollbar';

.sidebarContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  height: 100%;
  width: 250px;
  background-color: $white;
  border-right: 1px solid $outline-color;
}

.search {
  width: 100%;
  padding: 10px;
  border: 0;
  border-radius: 15px;
  background-color: $gray-200;
}

.historyContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  @include scrollbar.customScrollbar;
}

.historyItem {
  display: flex;
  justify-content: space-between;
  font-size: $font-size-sm;
  color: $gray-700;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px;
  border-bottom: 1px solid $gray-100;
}

.historyItem:hover {
  background-color: $gray-100;
}

.success {
  color: $red-500;
}

.fail {
  color: $blue-500;
}
