@use '@/styles/mixins/httpMethod';
@use '@/styles/mixins/scrollbar';

/**
 * Styles for ApiList component.
*/
.list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.item {
  padding: 8px;
  font-size: $font-size-sm;
  cursor: pointer;
  border-radius: $radius-sm;
  white-space: nowrap;
  &:hover {
    background-color: $primary-100;
    z-index: 10;
    scale: 105%;
  }
}

.methodButton {
  font-size: $font-size-2xs;
  padding: 0px 6px;
  border: none;
  border-radius: $radius-2xl;
}

.DELETEMethod {
  @include httpMethod.method-button($delete-bg, $delete-font);
}

.GETMethod {
  @include httpMethod.method-button($get-bg, $get-font);
}

.POSTMethod {
  @include httpMethod.method-button($post-bg, $post-font);
}

.PUTMethod {
  @include httpMethod.method-button($put-bg, $put-font);
}

.PATCHMethod,
.WEBSOCKETMethod {
  @include httpMethod.method-button($patch-bg, $patch-font);
}
