/**
 * Styles for ApiList component.
*/
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  padding: 8px;
  font-size: $font-size-sm;
  cursor: pointer;
  border-radius: $radius-sm;

  &:hover {
    background-color: $primary-100;
  }
}
