@use '@/styles/mixins/scrollbar';

/**
* Additional popover + button section styles
*/
.editorPopover {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  width: 100%;
  height: auto;
  background: $white;
  border: 1px solid $outline-color;
  border-radius: $radius-lg;
  box-shadow: 0 4px 12px rgba(23, 10, 10, 0.15);
  z-index: 10;
  padding: 8px;
}

.mainTabs {
  display: flex;
  border-bottom: 1px solid $outline-color;
  margin-bottom: 4px;
}

.subTabs {
  display: flex;
  margin-bottom: 4px;
}

.tab {
  padding: 6px 12px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: $font-size-2xs;
}
.activeMainTab {
  background: $gray-200;
  font-weight: $font-weight-bold;
  border-radius: $radius-sm;
  margin-bottom: 3px;
}
.activeSubTab {
  border-bottom: 1.5px solid $primary-700;
  font-weight: $font-weight-bold;
}

.contentArea {
  padding: 8px;
  min-height: 100px;
  max-height: 300px;
  overflow-y: auto;
  background: $gray-50;
  margin-bottom: 4px;
  font-size: $font-size-2xs;
  @include scrollbar.customScrollbar;
}

.buttonRow {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  margin-top: 4px;
}

.saveButton,
.closeButton {
  padding: 2px 6px;
  font-size: $font-size-2xs;
  border-radius: $radius-sm;
  font-weight: $font-weight-semibold;
}

.saveButton {
  background-color: $white;
  color: $primary-700;
  border: 1.5px solid $primary-700;
  cursor: pointer;

  &:hover {
    background-color: $primary-700;
    color: $white;
  }
}
.closeButton {
  background-color: $gray-200;
  color: $gray-800;
  border: none;
  border-radius: $radius-sm;
  cursor: pointer;

  &:hover {
    background-color: $gray-300;
  }
}

.schemaContent {
  white-space: pre;
  font-size: $font-size-2xs;
}

.fieldKey {
  color: $primary-700;
}

.fieldValue {
  color: $gray-800;
  cursor: pointer;

  &:hover {
    border-radius: $radius-sm;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transform: translateY(-1px);
  }
}

.editableValue {
  cursor: pointer;
  padding: 2px 4px;
  width: max-content;
  border-radius: $radius-md;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  word-break: break-all;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

.editInput {
  font-size: $font-size-2xs;
  max-width: 100%;
  padding: 0;
  border: 1px solid $primary-700;
  border-radius: $radius-sm;
  outline: none;
  box-sizing: border-box;
}

.jsonSchema {
  width: 100%;
  min-height: 200px;
  font-size: $font-size-2xs;
  border-radius: $radius-md;
  border: none;
  resize: vertical;
  white-space: pre-wrap;
  background-color: $gray-50;
  font-family: inherit;
  padding: 10px;
  @include scrollbar.customScrollbar;
}
.headerTable {
  background-color: $white;
  width: 100%;
  margin: 1rem 0;

  th,
  td {
    background-color: $white;
    font-size: $font-size-2xs;
    padding: 0.3rem;
    border: 0.1px solid $outline-color;
  }

  input {
    width: 100%;
    outline: none;
    border: none;
    display: block;
    font-size: $font-size-2xs;
  }

  :hover {
    background-color: $white;
  }

  .deleteSection {
    width: 25px;
  }

  .deleteButton {
    border: none;
    padding: 0 5px;
    font-size: $font-size-2xs;
    border-radius: $radius-md;
    background-color: $gray-100;
    border: 0.1px solid $gray-500;
    color: $gray-500;

    &:hover {
      border: 0.1px solid $gray-800;
      color: $gray-800;
    }
  }
}
