/**
* Additional popover + button section styles
*/
.editorPopover {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  width: 100%;
  height: auto;
  background: $white;
  border: 1px solid $outline-color;
  border-radius: $radius-lg;
  box-shadow: 0 4px 12px rgba(23, 10, 10, 0.15);
  z-index: 10;
  padding: 8px;
}

.mainTabs {
  display: flex;
  border-bottom: 1px solid $outline-color;
  margin-bottom: 4px;
}

.subTabs {
  display: flex;
  margin-bottom: 4px;
}

.tab {
  padding: 6px 12px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: $font-size-2xs;
}
.activeMainTab {
  background: $gray-200;
  font-weight: $font-weight-bold;
  border-radius: $radius-sm;
  margin-bottom: 3px;
}
.activeSubTab {
  border-bottom: 1.5px solid $primary-700;
  font-weight: $font-weight-bold;
}

.contentArea {
  padding: 8px;
  min-height: 100px;
  background: $gray-50;
  margin-bottom: 4px;
  font-size: $font-size-2xs;
}

.buttonRow {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  margin-top: 4px;
}

.saveButton,
.closeButton {
  padding: 2px 6px;
  font-size: $font-size-2xs;
  border-radius: $radius-sm;
  font-weight: $font-weight-semibold;
}

.saveButton {
  background-color: $white;
  color: $primary-700;
  border: 1.5px solid $primary-700;
  cursor: pointer;

  &:hover {
    background-color: $primary-700;
    color: $white;
  }
}
.closeButton {
  background-color: $gray-200;
  color: $gray-800;
  border: none;
  border-radius: $radius-sm;
  cursor: pointer;

  &:hover {
    background-color: $gray-300;
  }
}

.schemaContent {
  white-space: pre;
  font-size: $font-size-2xs;
}

.fieldKey {
  color: $primary-700;
}

.fieldValue {
  color: $gray-800;
  cursor: pointer;

  &:hover {
    border-radius: $radius-sm;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transform: translateY(-1px);
  }
}

.editInput {
  font-size: $font-size-2xs;
  width: 4em;
  padding: 0;
  border: 1px solid $primary-700;
  border-radius: $radius-sm;
  outline: none;
}
