@use '@/styles/mixins/scrollbar';

.edgeContainer {
  position: fixed;
  inset: 0;
  background-color: rgba($black, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: $white;
  padding: 0;
  border-radius: $radius-md;
  width: 90%;
  max-width: 700px;
  box-shadow: 0 4px 12px rgba($black, 0.2);
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  overflow-y: auto;
  @include scrollbar.customScrollbar;
}

.sectionTitle {
  padding: 0.75rem 1.5rem;
  font-size: $font-size-xl;
  font-weight: $font-weight-semibold;
}

.mappingHeader {
  padding: 1rem 1.5rem;
  background-color: $primary-800;
  border-bottom: 1px solid $gray-200;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0;
  font-size: $font-size-xl;
  font-weight: $font-weight-semibold;
  color: $white;
}

.fieldRow {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.75rem 1.5rem;

  label {
    width: 60px;
    font-size: $font-size-sm;
    font-weight: $font-weight-semibold;
  }

  input,
  textarea {
    flex: 1;
    padding: 6px 8px;
    border: 1px solid $outline-color;
    border-radius: $radius-sm;
    font-size: $font-size-sm;
    background-color: $gray-50;
  }

  textarea {
    resize: vertical;
    min-height: 40px;
    resize: none;
  }
}
.mappingTableWrapper {
  padding: 0 1.5rem;
}

.mappingTable {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    border: 1px solid $outline-color;
    padding: 8px;
    text-align: left;
    font-size: $font-size-sm;
  }

  th {
    background-color: $gray-100;
    font-weight: $font-weight-semibold;
  }

  tr:hover {
    background-color: $gray-50;
  }

  input {
    width: 100%;
    padding: 4px 6px;
    border: none;
    outline: none;
    font-size: $font-size-sm;
    background: transparent;
  }
}

th {
  background-color: $gray-100;
  font-weight: $font-weight-semibold;
}

tr:hover {
  background-color: $gray-50;
}

input {
  width: 100%;
  padding: 4px 6px;
  border: 1px solid $outline-color;
  border-radius: $radius-sm;
  font-size: $font-size-sm;
  background: $white;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding: 1rem 1.5rem;
}

.deleteButton {
  background: none;
  border: none;
  font-size: $font-size-lg;
  cursor: pointer;
  padding: 0px;
  line-height: 1;
  color: $gray-500;

  &:hover {
    border: $gray-800;
    color: $gray-800;
  }
}
