/**
 * @fileoverview Styles for FlowCanvas component.
*/

.actionContainer {
  position: fixed;
  top: 20px;
  right: 20px;
  background: $white;
  padding: 5px 20px;
  border-radius: $radius-xl;
  box-shadow: 0 0 5px $gray-300;
  z-index: 1000;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}
.container {
  display: flex;
  height: 100vh;
}
.buttonsRow {
  display: flex;
  align-items: center;
  gap: 10px;
}
.canvas {
  flex-grow: 1;
  height: 100vh;
  background-color: $gray-50;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $gray-700;
  font-size: $font-size-lg;
}

:global {
  .react-flow__edge-path {
    stroke: $primary-700 !important;
    stroke-width: 2px !important;
    stroke-dasharray: 5 5 !important;
    color: $primary-700 !important;
  }
  .react-flow__edge.updating .react-flow__edge.animated {
    stroke: $primary-700 !important;
    stroke-dasharray: 5 5 !important;
  }
  .react-flow__connection .react-flow__connection-path .react-flow__connection.selected {
    stroke: $primary-700 !important;
    stroke-width: 2px !important;
    stroke-dasharray: 5 5 !important;
    color: $primary-700 !important;
  }
}
.separator {
  margin: 0 6px;
  color: $gray-400;
}
