/**
 * @fileoverview Styles for ScenarioList component.
*/

@use '@/styles/colors' as *;
@use '@/styles/fonts' as *;

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  padding: 8px;
  font-size: $font-size-sm;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background-color: $primary-100;
  }
}
