/**
 * @fileoverview Styles for the Sidebar component.
 * 
 * @use '@/styles/mixins/scrollbar':
 * - Imports custom scrollbar mixin for styling the scrollbar.
 */

@use '@/styles/mixins/scrollbar';

.sidebarContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  height: 100%;
  width: 250px;
  background-color: $white;
  border-right: 1px solid $outline-color;
}

/**
  * A search input field in the sidebar.
  */
.search {
  display: none;
  width: 100%;
  padding: 10px;
  border: 0;
  border-radius: $radius-3xl;
  background-color: $gray-200;
}
