.container {
  top: 20px;
  right: 20px;
  border-radius: $radius-xl;
  background-color: $white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;

  border: none;
  outline: none;

  img {
    width: 20px;
    height: 20px;
    display: block;
  }

  &:hover {
    background-color: $gray-50;
  }

  &:active {
    transform: scale(0.95);
  }
}
