$color-border-success: $primary-800;
$color-border-error: $red-500;
$color-border-unreachable: $gray-400;

$color-method-success: $primary-800;
$color-method-error: $red-500;
$color-method-unreachable: $gray-400;

$color-text-duration: $gray-400;

.apiRequestNode {
  padding: 8px;
  border-radius: $radius-lg;
  background-color: $white;
  border: 2px solid $gray-400;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 150px;

  &.success {
    border-color: $color-border-success;
    .method {
      background-color: $color-method-success;
    }
  }

  &.error {
    border-color: $color-border-error;
    .method {
      background-color: $color-method-error;
    }
  }

  &.unreachable {
    border-color: $color-border-unreachable;
    .method {
      background-color: $color-method-unreachable;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.method {
  padding: 2px 6px;
  border-radius: $radius-md;
  color: $white;
  font-weight: $font-weight-regular;
  font-size: $font-size-xs;
  margin-right: 8px;
}

.endpoint {
  font-size: $font-size-sm;
  font-weight: $font-weight-regular;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
}

.content {
  font-size: $font-size-xs;
}

.statusRow {
  display: flex;
  justify-content: space-between;
}

.statusCode {
  font-weight: $font-weight-regular;
}

.duration {
  color: $color-text-duration;
}
