.tabs {
  display: flex;
  width: 100%;
  height: 45px;
  background: $gray-50;
  padding: 3px 0 0 8px;
  overflow: hidden;
  border-bottom: 1px solid $outline-color;
}

.tab {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  cursor: pointer;
  background: $primary-50;
  border: 1px solid $primary-100;
  border-bottom: none;
  border-radius: $radius-md $radius-md 0 0;
  max-width: 200px;
  color: $gray-600;
  transition-duration: 200ms;

  .title {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: $font-size-sm;
  }

  .close {
    flex-shrink: 0;
    color: $gray-500;
    cursor: pointer;

    &:hover {
      color: $gray-700;
      // scale: 101%;
    }
  }

  &:hover {
    color: $gray-700;
    // scale: 101%;
  }
}
.selectedTab {
  @extend .tab;
  background: $white;
  font-weight: $font-weight-bold;
  border-color: $outline-color $outline-color transparent $outline-color;
  border: 1.5px solid $gray-200;
  border-bottom: 1px solid $white;
  scale: 105%;
  &:hover {
    background: $white;
  }
  .title {
    color: $gray-800;
  }
}
