@mixin customScrollbar($thumb-color: $gray-300, $hover-color: $gray-300, $width: 4px) {
  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $hover-color;
  }
}
